<h2 class="section-title">GopherCon Europe 2019</h2>
<img class="gopher"  src="img/gophers/gopher1.png">
<br />

<h5>Last year's GopherCon Europe in the far-north (Iceland) was a great success! This year GopherCon Europe turns to the far south of the EU, the remote and volcanic coast of the Canaries, Tenerife!</h5>
<br /><br />
<h5>Stay tuned for more speaker announcements and more!</h5>
<h5>Watch the talks from last year on our <a href="https://www.youtube.com/channel/UCxm3-iHEMy7IkU0_gwDVGAQ" target="_blank">YouTube Channel</a></h5>
<br /> <br />
<h5>We are following the <a href="https://golang.org/conduct" target="_blank">Go Community Code of Conduct</a></h5>