<h2 class="section-title">{{ .titles.discount }}</h2>

<h4>Your talent and enthusiasm could take you all the way to GopherCon in Tenerife! If you follow the next steps you can get a student discount.</h4>
<h4>Step 1. Have a valid Student Card</h4>
<h4>Step 2. Make a GitHub repo where you have used Go (for example: https://exercism.io/tracks/go)</h4>
<h4>Step 3. Send us an e-mail to <a href="mailto:team@gophercon.es">team@gophercon.es</a> confirming you:<h4>

<ul>
<li>- have a student card that is valid at least until the conference date and</li>
<li>- a link to the repository</li>
</ul>

<h4>After all the steps are completed, you will receive your discount code which will allow you to buy in the reduced price. In order for the entrance to be valid, you must present your Student Card at the conference.</h4>
