<header class="header">
  <div class="wrapper">
    <h1 class="logo-name">

      <a class="logo-link" href="https://www.eventbrite.co.uk/e/gophercon-eu-2019-canary-islands-tickets-55633196388?ref=ebtnebtckt" target="_blank" title="{{ .name }}" itemprop="name">{{ .name }}
<br />
        <img class="logo-img" src="img/flag.png">
        <br />
        <img class="logo-flag" src="img/flag.es.png" width="50px">
        <img class="logo-flag" src="img/flag.canaries.png" width="50px">
      </a>


    </h1>
    <h2 class="tagline">{{ .date }},  {{ .city }}</h2>

    <div class="call-action-area">


      {{ with .calltoaction }}
      <a href="https://www.eventbrite.co.uk/e/gophercon-eu-2019-canary-islands-tickets-55633196388?ref=ebtnebtckt" target="_blank"><img src="https://www.eventbrite.co.uk/custombutton?eid=55633196388" alt="Eventbrite - GopherCon EU 2019 - Canary Islands" /></a>
      {{ end }}
    </div>

  </div>
</header>

<hr>
