<h2 class="section-title">{{ .titles.location }}</h2>

<h4 itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <a href="https://www.hardrockhoteltenerife.com/">Hard Rock Hotel, {{ .city }}, Spain</a>
</h4>

<img src="/img/hard-rock-hotel.jpg" width="100%" style="margin: 15px 0px 15px;">
<iframe class="location-map" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-25.68112182617188%2C45.48756291405129%2C-25.868377685546877%2C18.750804582350163&amp;layer=mapnik&amp;marker=28.121044278431572%2C-16.774749755859375"></iframe><br/>
<div class="location-img">
</div>



