<h2 class="section-title">{{ .titles.location }}</h2>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  Hard Rock Hotel, {{ .city }}, Spain
</p>

<iframe class="location-map" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-17.68112182617188%2C27.48756291405129%2C-15.868377685546877%2C28.750804582350163&amp;layer=mapnik&amp;marker=28.121044278431572%2C-16.774749755859375" style="border: 1px solid black"></iframe><br/>
<div class="location-img">
<img src="/img/hard-rock-hotel.jpg" width="100%">
<img src="/img/hard-rock-hotel-2.jpg" width="100%" style="margin-bottom: 35px">
</div>



