<h2 class="section-title">{{ .titles.schedule }}</h2>

<h4>May 30th</h4>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
        <tr class="schedule-other">
          <td class="schedule-time" width="30%">8:30-9:00</td>
          <td class="schedule-slot">Registration & Breakfast</td>
        </tr>
        <tr class="schedule-other">
          <td class="schedule-time" width="30%">9:00-13:00</td>
          <td class="schedule-slot"><a href="/#workshops">Workshops</a></td>
        </tr>
          <td class="schedule-time" width="30%">13:00-14:00</td>
          <td class="schedule-slot">Lunch</td>
        </tr>
        <tr class="schedule-other">
          <td class="schedule-time" width="30%">from 14:00</td>
          <td class="schedule-slot"><a href="/#workshops">Workshops</a></td>
        </tr>
    </tbody>
</table>
</div>

<h4>May 31st</h4>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
        <tr class="schedule-other">
          <td class="schedule-time" width="30%">Time</td>
          <td class="schedule-slot">Track 1</td>
          <td class="schedule-slot">Track 2</td>
        </tr>
      {{ range $slot := .schedule }}
        <tr class="schedule-other">
          <td class="schedule-time">{{ .time }}</td>
          <td class="schedule-slot">
            <a href="#{{ .track1Slug }}-anchor">{{ .track1 }}</a>
          </td>
          <td class="schedule-slot">
            <a href="#{{ .track2Slug }}-anchor">{{ .track2 }}</a>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<h4>June 1st</h4>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
        <tr class="schedule-other">
          <td class="schedule-time" width="30%">10:00-11:00</td>
          <td class="schedule-slot">Breakfast and Networking</td>
        </tr>
        <tr class="schedule-other">
          <td class="schedule-time" width="30%">10:00-13:00</td>
          <td class="schedule-slot">Community Day in 3 tracks: <br />Lightning Talks, Community Meetups, TBD</td>
        </tr>
    </tbody>
</table>
</div>