<h2 class="section-title">{{ .titles.schedule }}</h2>

<h4>May 30th</h4>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
        <tr class="schedule-other">
          <td class="schedule-time" width="30%">All day</td>
          <td class="schedule-slot"><a href="/#workshops">Workshops</a></td>
        </tr>
    </tbody>
</table>
</div>

<h4>May 31st</h4>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
        <tr class="schedule-other">
          <td class="schedule-time" width="30%">Time</td>
          <td class="schedule-slot">Track 1</td>
          <td class="schedule-slot">Track 2</td>
        </tr>
      {{ range $slot := .schedule }}
        <tr class="schedule-other">
          <td class="schedule-time">{{ .time }}</td>
          <td class="schedule-slot">
            {{ .track1 }}
          </td>
          <td class="schedule-slot">
            {{ .track2 }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<h4>June 1st</h4>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
        <tr class="schedule-other">
          <td class="schedule-time" width="30%">10:00-13:30</td>
          <td class="schedule-slot">Community gatherings and Lightning Talks</td>
        </tr>
        <tr class="schedule-other">
          <td class="schedule-time"></td>
          <td class="schedule-slot">(Follow our updates for the call for communities!)</td>
        </tr>
    </tbody>
</table>
</div>