<h2 class="section-title">{{ .titles.sponsors }}</h2>

<ul class="sponsors-list">

<a href="http://cloud.google.com/" target="_blank"><img src="/img/logos/google.png" height="200px"></a>
<br /><br />
<p>Google Cloud is widely recognized as a global leader in delivering a secure, open, intelligent and transformative enterprise cloud platform. Our technology is built on Google’s private network and is the product of nearly 20 years of innovation in security, network architecture, collaboration, artificial intelligence and open source software. We offer a simply engineered set of tools and unparalleled technology across Google Cloud Platform and G Suite that help bring people, insights and ideas together. Customers across more than 150 countries trust Google Cloud to modernize their computing environment for today’s digital world.</p>

<a href="https://www.deliveryhero.com" target="_blank"><img src="/img/logos/dh.png" height="240px"></a>
</ul>
