<h1>{{ .link.text }}</h1>


<p>This class has been designed over the past 4 years and goes beyond just being a Go language class. There will be very little time spent on specific Go syntax. Our time will be spent learning how to read and understand Go code with a big focus of "if performance matters" then these things matter. During the day we will talk about code design, semantics, guidelines, mechanical sympathy and data oriented design.</p>

<h2>Language Mechanics / Semantics</h2>

<ul>
<li>- Pointers</li>
<li>- Data Semantics</li>
<li>- Control Flow Design</li>
<li>- Decoupling Mechanics</li>
<li>- Compositional Design</li>
</ul>

<h2>What a student is expected to learn</h2>
<p>Everyone is going to be mentally exhausted by the end of the day. We will be challenging every student to think about what they are doing and why. In the 4 years we have taught this material, we never had someone not appreciate the class and feel like they are a better developer for it. If you want to be a better Go developer, code reviewer, designer and architect, this is the class you want to take.</p>

<h2>Prerequisites</h2>
<p>A basic understanding of the Go programming language. Students do not have to be expert Go users but they will get the most from the workshop if they have completed the majority of the Go Tour.</p>

<h2>Bio</h2>
<p>William Kennedy is a managing partner at Ardan Labs in Miami, Florida, a mobile, web, and systems development company. He is also a co-author of the book Go in Action, the author of the blog GoingGo.Net, and a founding member of GoBridge which is working to increase Go adoption through diversity.</p>

<ul>
<li><a href="https://github.com/ardanlabs/gotraining#william-kennedy-goinggodotnet">More Info</a></li>
<li><a href="https://www.linkedin.com/in/william-kennedy-5b318778/">Linked-In</a></li>
<li><a href="https://twitter.com/goinggodotnet">Twitter</a></li>
<ul>