<h1>Production ready cloud-native services<br /> with Go and Kubernetes</h1>
<h2 id="description">Description</h2>
<p>It is easy to fall in love with a new programming language, tool or architectural approach, especially as it gains in popularity. Usually, we start trying new technology by understanding a &quot;tour&quot; or the &quot;quick start&quot; guidance. However, in practice, it is not always so simple to bridge the gap between our first web server and a real production-ready application, this is especially true if this application should be prepared for a cloud-native infrastructure.</p>
<h3 id="what-a-student-is-expected-to-learn-">What a student is expected to learn:</h3>
<p>This workshop presents one of the possible strategies for writing cloud-native services with Go and Kubernetes. During the workshop, we will discuss how to design stable, scalable, reliable and performant applications. Step by step, we will write a service from scratch and prepare it for deployment. We will try continuous integration and continuous delivery with a prepared Kubernetes platform and discuss the benefits of this way.</p>
<ul>
<li>Requirements for cloud-native services</li>
<li>How to structure a Go application</li>
<li>Code quality</li>
<li>Dependency management and immutability</li>
<li>Observability </li>
<li>Operability</li>
<li>Containerization and security basics</li>
<li>Versioning and configuration management</li>
<li>Automation and CI/CD pipelines</li>
</ul>
<h3 id="prerequisites-">Prerequisites:</h3>
<p>The workshop is the most interesting for those who already started learning Go but still considers themselves as beginners.</p>
<p>If you would like to join this workshop as a participant, you need to install:</p>
<ul>
<li>A stable version Go (the newest version is recommended)</li>
<li>Any IDE or editor to be able to write in Go</li>
<li>Docker Community Edition (<a href="https://www.docker.com/community-edition">https://www.docker.com/community-edition</a>) to build and run containers with the services</li>
<li>A free GitHub account - to store and publish the source code</li>
<li>A Git client configured to work with your GitHub account</li>
<li>If you use Windows, please also install Cygwin (<a href="https://cygwin.com/install.htm">https://cygwin.com/install.htm</a>)</li>
</ul>
<p>During the workshop, we will also install and set up some additional tools to work with Kubernetes.</p>
<h2 id="bio">Bio</h2>
<p>Elena is a Lead TechOps Automation Engineer at N26 and a co-host of the GolangShow podcast. With 11+ years of overall experience in IT, she values DevOps culture and passionate about automation, software architecture and site reliability engineering topics.</p>
<p>Daniel is a Systems Engineer &amp; Co-founder, Contiamo. He loves solving complex problems and wearing multiple hats. After his CS studies he worked as a systems engineer in a variety of environments, from large corporates to small incubators and co-founded the data science platform startup Contiamo in Berlin, where he leads technical operations. Avid runner and VR/AR enthusiast.</p>