<h1>{{ .link.text }}</h1>

<p>Whether you are just getting started in Go or have been writing Go code for a couple years, this class will make sure you have what you need to write simple, quick, robust tests. We will start with the basics, and work through advanced concepts such as testing asynchronous code, as well as mocking and injecting code. We'll finish up with looking at some popular testing libraries and CI (continuous integration) approaches. We believe in a hands-on approach to learning, so bring your laptops and be ready to write a lot of tests! What a student is expected to learn: Everyone will have a strong understanding of each part of testing.</p>

<p>The test package will be covered in depth, different approaches to table-driven testing will be taught, as well as the numerous options for running tests and test suites. From there, a deep dive into unit, api, and system level testing will be covered. Students will learn how to test Net/HTTP packages, and how to mock out tests and create test harnesses. TDD (Test Driven Development) and BDD (Behavior Driven Development) will be covered, and testing packages that correspond to each will be presented as well. Finally, students will learn the basics on setting up Continuous integration both locally and at the server.</p>

<p>Prerequisites: A basic understanding of the Go programming language. Beginners are highly encouraged to attend this training. While not necessary, it will be helpful if you have completed the <a href="https://tour.golang.org">Go tour</a>.</p>

<h2>Testing Basics</h2>
<ul>
<li>*testing.T</li>
<li>Error vs. Fatal</li>
<li>Failure Messages</li>
<li>Running go test</li>
<li>Test Arguments and options</li>
</ul>

<h2>Unit, API, And System Level Testing</h2>
<p>There are many different approaches to testing your code. The most common ones are Unit, API, and Sytem Level testing. There are also other ways to refer to these levels of testing, such as White Box, Black Box, and Integration testing. This module will cover the pros and cons of both, as well as demonstrate what makes a good test using the different approaches.</p>

<h2>Table Driven Testing</h2>
<p>Table driven tests can be used to cover a lot of ground quickly while re-using common setup and comparison code. Table driven testing is not unique to Go, however, it is very powerful. In this module we will cover the different ways to create, run, and isolate table driven tests.</p>

<h2>Testing With Net/HTTP</h2>
<p>Testing Net/HTTP applications can be challenging. Luckily, Go addresses this and ships specific testing packages designed to use in testing Net/HTTP applications. This module will cover the different ways to do both unit testing and integration testing for these types of applications.</p>

<h2>Mocking Tests</h2>
<p>It&#39;s easy to decouple packages in Go using interfaces. Because of this, testing can also be much easier. However, you typically want to mock out your interfaces in tests so that unit testing is much easier. This chapter will cover how to write a mock for a service to enable easy and precise testing.</p>

<h2>Test Harness</h2>
<p>Test Harnesses are a common practice used to test complex parts of your program under varying conditions. Test harnesses are often used for conditions and/or use cases that are otherwise difficult to simulate (load, for example). This module will show how to build test harnesses for reuse and ease of complex testing scenarios.</p>

<h2>Testing Asynchronous Tasks</h2>
<p>Many times you may be testing parts of your code that have service dependency that run for an unknown amount of time. Examples of these may be task queues, distributed system calls, etc. Because you don't know how long they may take to execute, testing them can present some challenges. In this module we will learn how to set up tests both effectively and efficiently for testing async processes.</p>

<h2>Test Driven Development (TDD)</h2>
<p>Test-driven development (TDD) is an advanced technique of using automated unit tests to drive the design of software and force decoupling of dependencies. The motto of TDD is Red, Green, Refactor. This module will cover the common setup and automation to create a very rapid, efficient, and productive feedback cycle for TDD style testing.</p>

<h2>Behavior-Driven Development (BDD)</h2>
<p>Behavior-Driven Development (BDD) was derived from TDD. Behavior-driven development combines the general techniques and principles of TDD with ideas from domain-driven design and object-oriented analysis and design to provide software development and management teams with shared tools and a shared process to collaborate on software development.</p>

<h2>Testify</h2>
<p>Testify is a toolkit with common assertions and mocks that plays nicely with the standard library. Outside of the standard library, it is the most imported package in the Go ecosystem. This module will cover the basics of how to use and implement this common testing package.</p>

<h2>Continuous Integration</h2>
<p>Continuous Integration (CI) is the practice of merging all developer copies to a shared mainline several times per day to determine if any specific code is going to break or adversely affect the project. There are numerous CI tools at our disposal today. This module will cover not only the more common tools, but best practice strategies to get the most out of your CI setup. It will also over pre-ci steps that are common for developers to use to catch situations that will break the build prior to even being sent to the ci service.</p>

<h2>Finalize</h2>
<p>This module covers where to get more support on Go, recommends books and videos, and list contact information for our instructors.</p>

<h2>Bio</h2>
<p>Mark Bates is a full stack web developer with over 18 years of experience building high quality scalable applications for companies such as Apple, USA Today, Klarna, and Palm. He has written three books, “Distributed Programming with Ruby”, “Programming in CoffeeScript”, and “Conquering the Command Line”. Mark has spoken at conferences around the world, has led user groups such as Boston Ruby and Boston Golang, and has helped to organize conferences such as GothamGo and GopherCon. Mark is the co-founder of <a href="https://www.papercall.io" target="_blank">PaperCall.io</a>, a platform for connecting technical events with high quality content and speakers. Mark is also a partner at <a href="https://www.gopherguides.com/">Gopher Guides</a>, the industry leader for Go training and conferences. In his spare time Mark leads development of the Go web framework <a href="http://gobuffalo.io/" target="_blank">Buffalo</a>.</p>

<ul>
<li><a href="https://twitter.com/goinggodotnet">Twitter</a></li>
</ul>