<h1>{{ .link.text }}</h1>

<p>Writing code is hard, maintaining it is even harder. In this workshop we'll cover the daily tasks a typical gopher goes through (aka "best practices").</p>

<p>We will write together an example project and cover the following subjects:</p>

<ul>
<li>Design decisions</li>
<li>Code structure</li>
<li>Managing dependencies</li>
<li>Documentation</li>
<li>Testing</li>
<li>Debugging</li>
<li>Logging & metrics</li>
<li>Performance tuning</li>
<li>Continuous integration</li>
<li>Deployment strategies</li>
<li>Development workflow & code reviews</li>
</ul>

<p>There will be a lot of quotes, bad jokes and lines of code.</p>

<h2>Prerequisites</h2>
<p>Working knowledge of Go & the command line, familiarity with git.</p>

<h2>Bio</h2>
<p>Miki has a B.Sc. in computer science from Ben Gurion University. Has also
studied there toward an M.Sc. in computational linguistics.</p>

<p>Miki had worked in many companies from small startups to big multinational
corporations and has written software in many areas from linkers and hardware
simulators to news analysis for high frequency traders and handling big data
pipelines.</p>

<p>Miki has a passion for teaching and mentoring. He has spent many hours giving
workshops on various technical subjects all over the world, he also mentored
many young developers on their way to success.</p>

<p>Miki wrote <a href="http://forging-python.com)">Forging Python</a>, is an author in <a href="https://www.linkedin.com/learning/instructors/miki-tebeka">LinkedIn Learning</a>,
an organizer of <a href="https://www.meetup.com/Go-Israel/">Go Israel Meetup</a>,
<a href="https://www.gophercon.org.il/">GopherCon Israel</a> & <a href="https://il.pycon.org/">PyCon Israel</a>

<ul>
<li><a href="https://twitter.com/tebeka">twitter</a></li>
<li><a href="https://github.com/tebeka">github</a></li>
<li><a href="https://www.linkedin.com/in/mikitebeka/">LinkedIn</a></li>
<li><a href="http://pythonwise.blogspot.com/">pythonwise blog</a></li>
<li><a href="mailto:miki@353solutions.com">miki@353solutions.com</a>
</ul>
