<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>Go 1.11 introduced modules, the new standard package management system for Go. It’s a massive step forward for the community, especially because we can build proxy servers instead of just using Github to fetch code. Athens is leading the way to solve some painful problems we’ve had for years.</p>

<h2>Bio</h2>
<p>Aaron is a Sr. Developer Advocate at Microsoft Azure, creator of and core maintainer to the Athens Project. Before Athens, he was a core maintainer and chair of the Kubernetes Service Catalog special interest group (SIG-Service-Catalog) and a contributor to various other projects in the Kubernetes community.

He has almost 15 years of software engineering experience and when he discovered Go around 2013, he hasn’t looked back. He lives in San Mateo, CA where he and his wife love to run up and down mountains together.</p>

<ul>
<li><a href="https://arschles.com/">Website</a></li>
<li><a href="https://twitter.com/arschles">Twitter</a></li>
<ul>