<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>Come learn about how we’re replacing closed source UEFI firmware with Linux and Go!
LinuxBoot replaces parts of firmware with a small Linux kernel and initramfs. Our initramfs consists of pure Go system programs such as bootloaders, and we’ll talk about our BusyBox scheme to keep it small.</p>

<h2>Bio</h2>
<p>Chris Koch is a Software Engineer at Google in the Security & Privacy group working on bringing open source firmware to the world and Google. Previously, he worked on gVisor, a sandbox and “kernel” largely written in Go.</p>

<ul>
<li><a href="https://www.linuxboot.org/">Website</a></li>
<li><a href="https://twitter.com/hugelgupf<">Twitter</a></li>
<ul>