<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>Much of the existing software literature that teaches how to write readable code focuses on “rules of thumb” rather than comparing and dissecting real examples of code readability. Psychology provides various concepts that allow developers to identify code that is readable versus code that isn’t.</p>

<h2>Bio</h2>
<p>Egon Elbre is a software engineer with over 10 years of experience. He started playing with Go just after the first public announcement and has hung around since then. He loves finding new ways of looking at code such that it would be easier to maintain, understand and, most of all, ensure that it delivers value. He strongly believes that there are explanations that help people learn and be productive faster. When he’s not neck deep in code he’s either drawing or playing the piano.</p>

<ul>
<li><a href="https://medium.com/@egonelbre">Medium</a></li>
<li><a href="https://twitter.com/hugelgupf<">Twitter</a></li>
<ul>