<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>Studying neural networks is a surefire way to end up fighting more math than you can shake a stick at. Wish you could learn about the likes of gradient descent and backpropagation in a language you actually understand—like Go? Then this one is for you. Code, not math! Algorithms, not logarithms!</p>

<h2>Bio</h2>
<p>Ellen is a developer advocate at Garden, and also an avid gopher, actively involved with Women Who Go, and responsible for the most comprehensive Go course in Portuguese. They’ve spoken at world-famous events, and at countless local meet-ups. Ellen is a proud recipient of a ‘Best Hair’ award.</p>

<ul>
<li><a href="http://ellenkorbes.com/">More info</a></li>
<li><a href="https://twitter.com/ellenkorbes">Twitter</a></li>
<ul>