<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>This talk is a deep dive into the topic of visual programming and demonstration of how Go has enabled a new way to think about it and build new kind of visual tools, never tried before in any other language. I’m also going to present such a tool, based on neuroscience of programming and mental maps.</p>

<h2>Bio</h2>
<p>Ivan Daniluk is a senior software engineer and has more than a decade of experience in writing networking software for the security market. He’s an active member of the Go community, a conference speaker (most recently at GopherCon 2016 and OSCON 2016), the host of the GolangShow podcast, and organizer of Golang meetups, the author of numerous articles about Go, and the author of a few popular projects for Gophers. Ivan enjoys helping people to learn about Go and programming and is highly interested in neural networks, artificial intelligence, neuroscience, visualizations, and new approaches to education in general. His hobbies include figure skating, the Argentine tango, yachting, and astronomy.</p>

<ul>
<li><a href="https://github.com/divan">Github</a></li>
<li><a href="https://twitter.com/idanyliuk">Twitter</a></li>
</ul>