<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>At some point, we all find ourselves wanting to use a third-party Go package in our code. This talk discusses strategies for discovering, evaluating and maintaining Go packages and modules. It also shares new tools that the Go team is building to make this process better.</p>

<h2>Bio</h2>
<p>Julie Qiu is a software engineer on the Go team at Google, where she is leading the project to build the Go discovery site for modules. Before Google she was already working in Go as an engineering lead at Spring to improve search performance, personalize the user shopping experience, and ingest real-time product updates at scale. She graduated from Yale University with a degree in Cognitive Science.</p>

<ul>
<li><a href="https://twitter.com/JQiu25">Twitter</a></li>
<ul>