<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>Today Go users are forced to visit a number of different sites to find packages. To solve this problem, the Go team is building a modules discovery site. In this talk, I will discuss how to go about</p>

<h2>Bio</h2>
<p>Julie Qiu is a software engineer on the Go team at Google, where she is leading the project to build the Go discovery site for modules. Before Google she was already working in Go as an engineering lead at Spring to improve search performance, personalize the user shopping experience, and ingest real-time product updates at scale. She graduated from Yale University with a degree in Cognitive Science.</p>

<ul>
<li><a href="https://twitter.com/JQiu25">Twitter</a></li>
<ul>