<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>A look at how the speaker builds web services after doing so for the past eight years. Starting with testing, the talk will cover everything a developer needs to deliver working, production ready HTTP web services. Extremely practical, tried and tested patterns that everybody can start using today.</p>

<h2>Bio</h2>
<p>Co-founder of Machine Box, now at Veritone • Computerperson, gopher, speaker, author • him/his/tabs</p>

<ul>
<li><a href="http://matryer.com/">Website</a></li>
<li><a href="https://twitter.com/matryer<">Twitter</a></li>
<ul>