<span class="speaker-photo" style="display: inline-flex;">
      <img class="photo" src="/img/speakers/carlos.png" itemprop="image">
    </span>

<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>Talking about microservices we have to think about how to secure the system without losing the advantage of the decoupling and without adding too much latency. We implemented a custom API gateway. Why? Because it can easily scale, adds almost zero latency, is an ad hoc solution and it was fun!</p>

<h2>Bio</h2>
<p>Sara Báez is a Pythonista learning to love Go. She finished her Master’s degree in Mobile Applications but System73 showed her that “back-end” was the love of her life. She is now a proud Backend Team Lead in System73 developing a microservices infrastructure using Golang and Python while trying to be loyal to all the buzzwords such as high availability, stateless, resiliency… Chocolate addict by nature, she loves her dog the most. An active member of a women devs community @AdaLoveDev that tries to make women more visible in technology. Python Canarias organizer. She is also learning German because life wasn’t hard enough.</p>

<ul>
<li><a href="https://twitter.com/vickiniu">Twitter</a></li>
</ul>

<p>Carlos González started his career as an HPC engineer in the second more powerful supercomputer in Spain, dealing with high performance networks, storage, and scientific software. At the moment he works as DevOps engineer and Infrastructure Team Lead in System73, pushing the project in the way of continuous deployment, scalability and trying to keep best practices. On his free time enjoys running, cycling and swimming all he can. System73 has a highly talented team and is based in the beautiful island hosting this event.</p>

<ul>
<li><a href="https://twitter.com/vickiniu">Twitter</a></li>
</ul>