<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>A lot of helpful tutorials are available for beginners to get their feet wet with Go, but nothing speakers like experience. In this talk, Tom will put together his learnings in Go and showcase it in a simple RESTful application, using his experience in the financial and medical spheres.</p>

<h2>Bio</h2>
<p>Tom Ogoma is a senior consultant at Andela, working with Mastercard labs for Financial Inclusion on projects that aim to empower the financially excluded. Before Andela, he was working on Go projects in the healthcare space to help solve challenges in the aged-care industry.</p>

<ul>
<li><a href="https://twitter.com/vickiniu">Twitter</a></li>
</ul>