<h1>{{ .presentation }}</h1>

<h2>Description</h2>
<p>Blockchains are the hot new thing that everyone’s talking about, but nobody uses. This talk covers a key challenge in the blockchain space — scaling — through the perspective of two Go projects. Come learn about the state of blockchain scaling, and the features & limits of Go in the space.</p>

<h2>Bio</h2>
<p>Vicki is a software engineer at Interstellar, where she works on the Protocol team to translate cutting-edge research into real-world applications that help build a more just financial system. She studied computer science and ethnic studies at Stanford, where she co-founded the organization CS+Social Good. Vicki loves writing code, watching romantic comedies, and eating spicy food.</p>

<ul>
<li><a href="https://www.linkedin.com/in/vickiniu">LinkedIn</a></li>
<li><a href="https://twitter.com/vickiniu">Twitter</a></li>
<ul>